<h2>{{ character.name }} </h2>
<div><span>Id: </span>{{character.id}}</div>
<div><span>Nom: </span>{{character.name}}</div>
<div><span>Taille: </span>{{character.height}}</div>
<div><span>Poids: </span>{{character.mass}}</div>
<div><span>Coloration: </span>{{character.hair_color}}</div>
<div><span>Couleur de peau: </span>{{character.skin_color}}</div>
<div><span>Couleur des yeux: </span>{{character.eye_color}}</div>
<div><span>Année de naissance: </span>{{character.birth_year}}</div>
<div><span>Type: </span>{{character.gender}}</div>
<div><span>Monde originel: </span>{{character.homeworld}}</div>
<div><span>Créé: </span>{{character.created}}</div>
<div><span>edited: </span>{{character.edited}}</div>
<div><span>Lien: </span>{{character.url}}</div>